.wrapper {

    gap: 20px;
}

.sumMessage,
.message {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}

.sumMessage:empty:before {
    content: attr(data-placeholder);
    color: gray;
    content: "sum";
}

.gridCell:hover {
    cursor: pointer;
}