.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrapperP {
    margin: 0;
    display: inline-block;
}

button {
    cursor: pointer;
}

.sumMessage,
.message {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}

.markedNumber {
    background-color: palevioletred;
}