.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gridCell:hover {
    cursor: pointer;
    background-color: orange;
    color: transparent;
}

.markedClearCell {
    background-color: red;
    color: transparent;
}

